{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> Vegetarian Tacos</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    <header>
        <nav>
            <a href="list.html">Main Page </a>
        </nav>
    </header>
<main>
        <h1>Spooky Vegetarian Tacos</h1>
        <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-edgarcastrejon2-streettacos-091-ae.jpg?w=1200&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=81281a5f6d6cfef4e6d5578d1c42fa02"
            alt="Check out these amazing Tacos" />
        <div>
            <h4>5 stars</h4>
        </div>
        <h2>Ingredients</h2>
    <table>
        <thread>
            <tr>
                <th>Amount</th>
                <th>Food Item</th>
            </tr>
        </thread>
        <tbody>
            <tr>
            <td>1 cup</td>
            <td>Green Beans</td>
        </tr>
        <tr>
            <td>3 ears</td>
            <td>Fresh corn</td>
        </tr>
        <tr>
            <td>2 cups</td>
            <td>Tomatillo salsa</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Corn tortillas</td>
        </tr>
        <tr>
            <td>0.5 cups</td>
            <td>Cotija cheese</td>
        </tr>
    </tbody>
</table>
    <h2>Steps</h2>
    <ol>
        <li>Blanch the green beans</li>
        <li>Grill the green beans and the ears of corn</li>
        <li>Chop the green beans</li>
        <li>Slice the corn off the cob</li>
        <li>Grill the tortillas</li>
        <li>Assemble the tacos with veggies, salsa, and cheese</li>
    </ol>


</main>
<footer>Made with love by Scooby Doo</footer>
</body>
</html>


{% comment %} We're at this point where we're missing the HTML file. {% endcomment %}
{% comment %} That path, "recipes/detail.html", needs to be inside the templates directory that you just created. Right-click on the templates directory, choose "New Folder", and name it recipes. {% endcomment %}
{% comment %} HAD TO RESTART SERVER TO GET THE PAGE TO WEBSITE PAGE TO SHOW {% endcomment %}
{% comment %} That loads the static tag for us so we can use it, and we're going to use it in the HTML right now.
Find the link tag in the HTML. Change it from using the href of "recipes.css" to using this cool Django static tag: {% endcomment %}
{% comment %} That static tag says, "Use the static function to find the path to "css/recipes.css" inside the static folder!" And that's what it does! {% endcomment %}
