html,
body{
    margin: 0;
    padding: 10;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box
}

main{
    padding: 10px;
}


footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img{
    height: 200px;
    /* white-space: nowrap; */
}

nav{
li {
border-bottom-width: 1px;
color: black;
padding: 16px;
}
}

.website-header{
    grid-column: 20px;
    grid-row: 20px;
}

footer {
    background-color: #5e467d;
    color: #f6c686;
}

header{
    background-color: #dabafb;
    color:#97bb12
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color:#FAF7A7;
    border: 1px solid #e38c1e;
}

  .recipe-container{
    display:grid;
    grid-template-columns: 1 fr 1 fr 1fr;
    grid-template-rows: 1fr 1 fr 2fr 2fr 2fr auto;
    grid-gap: 1em;
    row-gap: 0.5em;
    column-gap: 1em;
}


/* Refresh the page. Is it still plain? That's because Django has a special way for us to do things in the HTML to get the correct path to the CSS files.
We're going to use the static tag. This is a built-in Django feature that returns the correct place for our static CSS files.
A static file is one that doesn't change. Our HTML files are going to change. That's why HTML files are in the templates directory.
Open detail.html. At the top of the page, add this new line of code: */
